services:
    mysql:
        image: 'mysql/mysql-server:8.0'
        ports:
            - '3306:3306'
        environment:
            MYSQL_ROOT_PASSWORD: 'root'
            MYSQL_ROOT_HOST: "%"
            MYSQL_DATABASE: 'quiz_db'
        volumes:
            - 'quiz-mysql-data:/var/lib/mysql'
        networks:
            - quiz-network
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-proot"]
            retries: 3
            timeout: 5s

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links:
            - mysql:db
        ports:
            - '8081:80'
        environment:
            PMA_HOST: mysql
            MYSQL_ROOT_PASSWORD: 'root'
        networks:
            - quiz-network
        depends_on:
            - mysql

networks:
    quiz-network:
        driver: bridge

volumes:
    quiz-mysql-data: